Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  performance-*,
  -performance-unnecessary-copy-initialization,
  readability-redundant-*,
  -readability-redundant-access-specifiers,
  readability-container-size-empty,
  clang-diagnostic-*

HeaderFilterRegex: 'src/.*'
FormatStyle: file
