# Build artifacts
build/
*.o
*.moc
Makefile
.qmake.stash
moc_*.cpp
moc_*.h
tst_*

# Qt installation
qt/

# Log files
*.log

# Other files
GEMINI.md
notes.md
*/.DS_Store
.DS_Store
*.app
src/qrc_*
/src/pari
/tests/tst_all
test_project/
/src/pari
/tests/tst_all
test_project/